Source: flash-simcom-a76xx
Maintainer: Wiren Board Team <info@wirenboard.com>
Section: misc
Priority: optional
Standards-Version: 4.5.1
Build-Depends: debhelper-compat (= 13)

Package: flash-simcom-a76xx
Architecture: any
Depends: wb-utils (>= 4.7.1), ${shlibs:Depends}, ${misc:Depends}
Description: Simcom modem flash utility
 Used to update Simcom modem firmware
